Once you have modified the functions, create a dummy notebook in the same folder, import the utils file, and run all the functions in the proper order, as mentioned above. This will help you debug your code and create the  ‘utils_output.db’ database in the specified path.

The order of the functions is  
**build_dbs -> load_data_into_db -> map_city_tier -> map_categorical_vars -> interactions_mapping.**

#### UNIT TESTING

In [1]:
import utils
from utils import *

In [2]:
utils.build_dbs()

Creating Database
New DB Created

'DB Created'

In [2]:
print(DB_PATH+UNIT_TEST_DB_FILE_NAME)

./unit_test_cases.db

In [3]:
# Compare output of load_data_into_db() against 'loaded_data_test_case' table in db.
# Both take data from leadscoring_test.csv file.

# Get output of load_data_into_db()
load_data_into_db()
cnx = sqlite3.connect(DB_PATH+DB_FILE_NAME)
loaded_data = pd.read_sql('select * from loaded_data', cnx)
loaded_data.head()

,created_date,city_mapped,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,career_assistance,...,specilization_click,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag
0,2021-11-19 15:25:38,ghazipur,Level3,Level0,Level0,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
1,2021-08-24 15:17:20,murbad,Level3,Level0,Level0,2.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
2,2021-07-20 16:01:20,mumbai,Level14,Level2,Level2,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,0
3,2021-09-04 14:00:42,bengaluru,Level7,Level0,Level0,4.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
4,2022-01-13 05:41:45,ncr,Level8,Level16,Level2,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,0

In [4]:
# Get output of 'loaded_data_test_case' table in db
conn = sqlite3.connect(DB_PATH+UNIT_TEST_DB_FILE_NAME)
loaded_data_test_case = pd.read_sql(
    'select * from loaded_data_test_case', conn)
loaded_data_test_case.head()

,created_date,city_mapped,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,career_assistance,...,specilization_click,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag
0,2021-11-19 15:25:38,ghazipur,Level3,Level0,Level0,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
1,2021-08-24 15:17:20,murbad,Level3,Level0,Level0,2.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
2,2021-07-20 16:01:20,mumbai,Level14,Level2,Level2,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,0
3,2021-09-04 14:00:42,bengaluru,Level7,Level0,Level0,4.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,1
4,2022-01-13 05:41:45,ncr,Level8,Level16,Level2,1.0,0.0,None,None,None,...,None,None,None,None,None,None,None,None,None,0

In [5]:
# Compare shapes
print(loaded_data.shape)
print(loaded_data_test_case.shape)

(100, 45)
(100, 45)

In [8]:
map_city_tier()
cnx = sqlite3.connect(DB_PATH+DB_FILE_NAME)
city_tier_mapped_df = pd.read_sql('select * from city_tier_mapped', cnx)
city_tier_mapped_df.head()

,created_date,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,career_assistance,career_coach,...,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag,city_tier
0,2021-11-19 15:25:38,Level3,Level0,Level0,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,3.0
1,2021-08-24 15:17:20,Level3,Level0,Level0,2.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,3.0
2,2021-07-20 16:01:20,Level14,Level2,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0
3,2021-09-04 14:00:42,Level7,Level0,Level0,4.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,1.0
4,2022-01-13 05:41:45,Level8,Level16,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-01-19 11:18:46,Level2,Level2,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,3.0
96,2021-12-12 14:14:12,Level2,Level18,Level2,2.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,3.0
97,2021-09-07 15:44:36,Level1,Level19,Level4,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,3.0
98,2022-01-16 15:38:15,Level0,Level11,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,1.0
99,2021-11-12 07:02:01,Level0,Level1,Level1,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0

In [9]:
cnx_ut = sqlite3.connect(DB_PATH+UNIT_TEST_DB_FILE_NAME)
test_case = pd.read_sql('select * from city_tier_mapped_test_case', cnx_ut)
test_case.head()

,created_date,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,1_on_1_industry_mentorship,call_us_button_clicked,career_assistance,career_coach,...,syllabus,syllabus_expand,syllabus_submodule_expand,tab_career_assistance,tab_job_opportunities,tab_student_support,view_programs_page,whatsapp_chat_click,app_complete_flag,city_tier
0,2021-11-19 15:25:38,Level3,Level0,Level0,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,3.0
1,2021-08-24 15:17:20,Level3,Level0,Level0,2.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,3.0
2,2021-07-20 16:01:20,Level14,Level2,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0
3,2021-09-04 14:00:42,Level7,Level0,Level0,4.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,1,1.0
4,2022-01-13 05:41:45,Level8,Level16,Level2,1.0,0.0,None,None,None,None,...,None,None,None,None,None,None,None,None,0,1.0

In [ ]:
cnx.close()
cnx_ut.close()

In [10]:
assert test_case.equals(city_tier_mapped_df)

In [11]:
map_categorical_vars()
cnx = sqlite3.connect(DB_PATH+DB_FILE_NAME)
categorical_variable_mapped = pd.read_sql(
    'select * from categorical_variables_mapped', cnx)
categorical_variable_mapped.shape

(100, 45)

In [13]:
cnx_ut = sqlite3.connect(DB_PATH+UNIT_TEST_DB_FILE_NAME)
test_case = pd.read_sql(
    'select * from categorical_variables_mapped_test_case', cnx_ut)
test_case.shape

(100, 45)

In [14]:
cnx.close()
cnx_ut.close()

In [15]:
assert test_case.equals(categorical_variable_mapped)

In [16]:
interactions_mapping()
cnx = sqlite3.connect(DB_PATH+DB_FILE_NAME)
interactions_mapped = pd.read_sql('select * from interactions_mapped', cnx)
interactions_mapped.head()

,created_date,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,city_tier,referred_lead,app_complete_flag,assistance_interaction,career_interaction,payment_interaction,social_interaction,syllabus_interaction
0,2021-07-01 07:32:25,Level3,others,Level16,2.0,1.0,0.0,1,0,0,0,0,0
1,2021-07-05 04:26:31,Level2,Level6,Level7,2.0,1.0,0.0,0,0,0,0,0,0
2,2021-07-08 11:28:20,Level7,Level3,Level6,1.0,1.0,0.0,1,0,0,0,0,0
3,2021-07-11 05:39:39,Level3,Level0,Level0,4.0,3.0,0.0,1,0,0,0,0,0
4,2021-07-12 16:56:30,Level3,Level0,Level0,6.0,1.0,0.0,1,0,0,0,0,0

In [17]:
interactions_mapped.shape

(100, 13)

In [18]:
cnx_ut = sqlite3.connect(DB_PATH+UNIT_TEST_DB_FILE_NAME)
test_case = pd.read_sql(
    'select * from interactions_mapped_test_case', cnx_ut)
test_case.head()

,created_date,city_tier,first_platform_c,first_utm_medium_c,first_utm_source_c,total_leads_droppped,referred_lead,app_complete_flag,assistance_interaction,career_interaction,payment_interaction,social_interaction,syllabus_interaction
0,2021-07-01 07:32:25,1.0,Level3,others,Level16,2.0,0.0,1,0,0,0,0,0
1,2021-07-05 04:26:31,1.0,Level2,Level6,Level7,2.0,0.0,0,0,0,0,0,0
2,2021-07-08 11:28:20,1.0,Level7,Level3,Level6,1.0,0.0,1,0,0,0,0,0
3,2021-07-11 05:39:39,3.0,Level3,Level0,Level0,4.0,0.0,1,0,0,0,0,0
4,2021-07-12 16:56:30,1.0,Level3,Level0,Level0,6.0,0.0,1,0,0,0,0,0

In [19]:
test_case.shape

(100, 13)

In [20]:
cnx.close()
cnx_ut.close()

In [21]:
assert test_case.equals(interactions_mapped)

AssertionError: